*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial, sans-serif;
    font-size: 15px; 
    background: #d8d8d8;;
}
.logo
{
    display: inline-block;
    margin-top: 10px;
    height: 120px;
}
header
{
    height: 180px;
}

header nav
{
    float: right; 
    margin-top: 50px;
}
header nav ul li
{
    display: inline-block;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    color: rgb(135, 20, 243);
}
.wrapper
{
    
    width: 1500px;
    margin: 0px 10px;
    padding: 10px 10px;  
    font-size: 20px;
}

/*Main image*/
#main-image
{
    height: 580px;
    background: url(images/toune6.jpg) center;
    
    
}
h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 80px 0 80px 0;
    margin-bottom: 50px;
    margin-left: 200px;
    line-height: 200px;
    font-family: 'roboto' ;
}
.presentation{
    font-size: 40px;
    font-family:'pacifico' , cursive,  sans-serif;
    color: #525252 ;
    display: block;
    margin: 80px;
}
  /* Adopter */

#adopt, #sponsor, #actions, #help, #location, #contact{
    border: 3px solid #8714F3;
    border-radius: 30px;
    margin: 15px;
    padding: 20px;
    box-shadow:10px 10px 2px 1px rgb(153, 150, 150);
    height: auto;
    width: auto;
    
}

.carousel {
    padding: 20px 50px 20px 50px;
    margin: auto;
    width: 900px;
    height: 600px;
  

}
.carousel-inner h3{
    position: absolute;
    bottom: 10%;
    left: 45%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
  

