form{
    width: 600px;
    border: 5px solid rgb(135, 20, 243);
    border-radius: 10px;
    box-shadow: 10px 10px 2px 1px #9f9f9f;
    padding: 30px;
    margin: 20px;
    background: #d8d5d5;
}
h1{
    margin-bottom: 30px;
    color: #3c066e;
}
.form-floating{
    margin: 20px;
}
button{
    margin-left: 420px;
}
#floatingTextarea{
    height: 200px;
}