.garagesale{
    margin: 30px;
    padding: 20px;
    display: block;
    text-align: center;
}
.garagesale h1{
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;
    padding: 10px;
}
@media screen and (max-width: 1340px) {
    body, img {
      width: 100%;
      margin-top: 0;
    }
  }