*{
    padding: 10px;
    margin: 5px;
  
}
body{
    background: #d8d8d8;
}
p{
    font-size: larger;
    font-weight: bold;
}
img{
    max-width : 100%;
    height: auto;
    display: inline-block;
}